## Visual Studio and Build Artifacts

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# VSTO build files
*.manifest
*.application
*.deploy
publish/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Visual Studio cache files
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

# Certificate files
*.pfx

# Office Temp Files
~$*
*.tmp

# Publish profiles
*.pubxml
*.publishproj

# ClickOnce directory
[Pp]ublish/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
